.Marks-list {
  background-color: white;
  border: rgb(237, 237, 237) 0.5px solid;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 520px;
  overflow-y: auto;
  padding: 0px 40px;
  margin: 20px 0px;
}

.Marks-list table {
  width: 100%;
  border-collapse: collapse;
}

.Marks-list thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.Marks-list th,
.Marks-list td {
  padding: 15px;
  border-left: none;
  border-right: none;
}

.Marks-list th {
  text-align: left;
  background-color: #f9f9f9;
}

