.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  /* padding: 20px 40px; */
}

.hero-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 50px;
}

.hero-section img {
  width: 150px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 20px;
  color: #25738b;
}

