.class-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 240px;
  padding: 0;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.class-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.class-card-header {
  background-color: #25738b;
  color: white;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom {
  margin-top: 5px;
}

.classname {
  font-size: 1.2em;
  font-weight: bold;
}

.teacher {
  font-size: 0.9em;
}

.delete-icon {
  font-size: 1.2em;
  color: #e74c3c;
  cursor: pointer;
  display: none;
}

.class-card:hover .delete-icon {
  display: inline-block;
}

.class-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.class-card-body h3 {
  margin: 0 0 10px 0;
  font-size: 1.1em;
}

.description-container {
  flex-grow: 1;
  max-height: 100px;
  overflow-y: auto;
  padding-right: 5px;
}

.description-container::-webkit-scrollbar {
  width: 8px;
}

.description-container::-webkit-scrollbar-thumb {
  background-color: #25738b;
  border-radius: 10px;
}

.description-container::-webkit-scrollbar-button {
  display: none;
}

.description-container {
  scrollbar-width: thin;
  scrollbar-color: #25738b transparent;
}

.description {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.delete-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
