.classcard-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 240px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
  transition: box-shadow 0.3s ease;
}

.classcard-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.classcard-header {
  background-color: #25738b;
  color: white;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.classcard-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.classcard-header-bottom {
  margin-top: 5px;
}

.classcard-classname {
  font-size: 1.2em;
  font-weight: bold;
}

.classcard-teacher {
  font-size: 0.9em;
}

.classcard-icon-group {
  display: flex;
  gap: 10px;
  display: none;
}

.classcard-container:hover .classcard-icon-group {
  display: flex;
}

.classcard-delete-icon {
  font-size: 1.2em;
  color: #e74c3c;
  cursor: pointer;
}

.classcard-edit-icon {
  font-size: 1.2em;
  color: #ffffff;
  cursor: pointer;
}

.classcard-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.classcard-body h3 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.classcard-description-container {
  flex-grow: 1;
  max-height: 100px;
  overflow-y: auto;
}

.classcard-description {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

@media (max-width: 768px) {
  .classcard-container {
    width: 100%;
    height: auto;
  }

  .classcard-body {
    padding: 10px;
  }
}
