.cognitive-analysis {
  padding-top: 10px;
}

.cognitive-charts-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
}

.cognitive-chart-container {
  flex: 1;
  max-width: 530px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgb(237, 237, 237);
}

.cognitive-chart-wrapper {
  height: 200px;
}

.cognitive-chart-container h3 {
  margin-bottom: 10px;
  text-align: center;
}

.cognitive-progress-section {
  max-width: 1120px;
  margin: 0 auto;
}

.cognitive-progress-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cognitive-progress-controls {
  display: inline-block;
  margin-left: 20px;
}

#parameter-select {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
}

@media (max-width: 768px) {
  .cognitive-charts-row {
    flex-direction: column;
    align-items: center;
  }

  .cognitive-chart-wrapper {
    height: 250px;
  }

  .cognitive-progress-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .cognitive-progress-controls {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .cognitive-chart-wrapper {
    height: 200px;
  }

  .cognitive-progress-controls {
    width: 100%;
  }
}
