.parent-children-container {
    background-color: white;
    border: 0.5px solid rgb(237, 237, 237);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
  }
  
  .parent-children-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .parent-children-container th,
  .parent-children-container td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .parent-children-container tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  