.assignments-list {
    background-color: white;
    border: 0.5px solid rgb(237, 237, 237);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-height: 530px;
    overflow-y: auto;
    padding: 0 40px;
    margin: 20px 0;
    scrollbar-color: #25738b transparent;
    position: relative;
}

.assignments-list table {
    width: 100%;
    border-collapse: collapse;
}

.assignments-list thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.assignments-list th, .assignments-list td {
    padding: 15px;
    border-left: none;
    border-right: none;
}

.assignments-list th {
    text-align: left;
    background-color: #f9f9f9;
    font-weight: 600;
}

.assignments-list tr {
    border-bottom: 1px solid #ddd;
}

.assignments-list tr:last-child {
    border-bottom: none;
}

.assignments-list tbody tr {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.1s ease;
}

.assignments-list tbody tr:hover {
    color: #25738b;
    transform: scale(1.01);
}

.assignments-list tbody tr:active {
    color: #25738b;
    transform: scale(1.01);
}

.assignments-list td button {
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.assignments-list td button:active {
    transform: scale(0.99);
}

.assignments-list {
    scrollbar-width: thin;
    scrollbar-color: #25738b transparent;
}

.assignments-list::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.assignments-list:hover::-webkit-scrollbar {
    opacity: 1;
}

.assignments-list::-webkit-scrollbar-thumb {
    background-color: #25738b;
    border-radius: 10px;
}

.assignments-list::-webkit-scrollbar-button {
    display: none;
}

.assignments-list td:nth-child(3) {
    width: 200px;
}