.button-component {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-component:hover {
  opacity: 0.9;
}

.button-component:active {
  transform: scale(0.96);
}

.button-component-small {
  padding: 6px 12px;
  font-size: 12px;
}

.button-component-medium {
  padding: 8px 20px;
  font-size: 14px;
}

.button-component-large {
  padding: 10px 20px;
  font-size: 16px;
}
