* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-height: 720px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.main-content {
  /* padding: 0 80px; */
  flex-grow: 1;
  overflow-y: auto;
  margin: 20px 80px;
}
