.navbar {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo img {
  width: 150px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.navbar-item {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-item:hover {
  color: #25738b;
}

.active-link {
  color: #25738b;
}

.get-started {
  color: white;
  background-color: #25738b;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.get-started:hover {
  background-color: #1e5c6d;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-logo img {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
}
