.main-content {
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-height: 720px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.classes-content {
  padding: 0 80px;
  flex-grow: 1;
  overflow-y: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 82px;
  justify-content: left;
  max-width: 100%;
  margin-bottom: 20px;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}