.main-content {
  display: flex;
  flex-grow: 1;
  margin: 0;
  width: 100%;
  min-height: 720px;
}

.right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
