.students-list {
    background-color: white;
    border: 0.5px solid rgb(237, 237, 237);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-height: 530px;
    overflow-y: auto;
    padding: 0 40px;
    margin: 20px 0;
    scrollbar-color: #25738b transparent;
    position: relative;
}

.students-list table {
    width: 100%;
    border-collapse: collapse;
}

.students-list thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.students-list th, .students-list td {
    padding: 15px;
    border-left: none;
    border-right: none;
}

.students-list th {
    text-align: left;
    background-color: #f9f9f9;
    font-weight: 600;
}

.students-list tr {
    border-bottom: 1px solid #ddd;
}

.students-list tr:last-child {
    border-bottom: none;
}

.students-list tbody tr {
    cursor: pointer;
    transition: color 0.3s ease, transform 0.1s ease;
}

.students-list tbody tr:hover {
    color: #25738b;
    transform: scale(1.01);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.students-list td:nth-child(2) {
    width: 100px;
}

.students-list {
    scrollbar-width: thin;
    scrollbar-color: #25738b transparent;
}

.students-list::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.students-list:hover::-webkit-scrollbar {
    opacity: 1;
}

.students-list::-webkit-scrollbar-thumb {
    background-color: #25738b;
    border-radius: 10px;
}

.students-list::-webkit-scrollbar-button {
    display: none;
}
